.cardapio__titulo {
    background-image: url("../img/cardapio/background-cardapio-titulo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

        .titulo__principal {
            font-family: $fonte-titulo;
            color: #fff;
            font-size: 9rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

                @include celular {
                    font-size: 3.5rem;
                }
        }


    }

    .cardapio__container {
        background-image: url("../img/cardapio/background-cardapio.jpg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        padding-bottom: 3rem;

            .cardapio__sub {
                font-family: $fonte-subtitulo;
                color: $cor-menu-itens;
                text-align: center;
                padding: 4rem 0;
                font-size: 3rem;

                    @include celular {
                        font-size: 1.5rem;
                    }
            }

            .cardapio__botoes {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;
                margin-bottom: 5rem;

                    @include celular {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        width: 100vw;
                        padding: .4rem;
                        gap: .5rem;

                    }
            }

            .cardapio__btn {
                display: flex;
                align-items: center;
                gap: .5rem;
                background-color: $cor-menu-itens;
                padding: .6rem 1rem;
                cursor: pointer;
                border-radius: 10px;
                box-shadow: 1px 1px 0px 2px #fff;
                
                    &:hover {
                        box-shadow: 0px 0px 10px 0px $cor-menu-itens;
                        transition: all .6s;
                        background-color: #fff;
                    }

                    @include celular {
                        gap: .3rem;
                        padding: .2rem 1rem;
                    }
                
            }

            .btn__pizza,
            .btn__carnes,
            .btn__massas,
            .btn__bebidas {
                font-family: $fonte-corpo;
                font-size: 1.5rem;

                    @include celular {
                        font-size: 1rem;
                    }
            }

            .cardapio__img {
                width: 60px;

                    @include celular {
                        width: 35px; 
                    }
            }
    }

    // .cardapio__cards {
    //     display: flex;
    // }
    
    .cardapio__card {
        display: flex;
        box-shadow: 1px 1px 15px 2px $cor-menu-itens;
        padding-bottom: 1.5rem;

            .card__titulo {
                font-family: $fonte-subtitulo;
                text-align: center;
                font-size: 4rem;
                color: $cor-menu-itens;
                padding: 1rem;
            }

            .cardapio__flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
                padding: .6rem;

            }

            .card__item {
                padding: 1rem;
                border: 2px solid $cor-menu-itens;
                box-shadow: 1px 1px 10px 1px #fff;
                width: 480px;
                

                    // &:hover {
                    //     background-color: #6b6b6b;
                    //     transition: .6s;
                    // }
            }

            .card__cabecalho {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                margin-bottom: .5rem;
            }

            .img__item {
                width: 6.25rem;
            }

            .sabor {
                font-family: $fonte-corpo;
                font-size: 1.8rem;
                color: $cor-menu-itens;
            }

            .ingredientes {
                font-family: $fonte-corpo;
                font-size: 1.4rem;
                color: #fff;
                margin-bottom: .5rem;
                text-align: center;
            }

            .precos {
                display: flex;
                gap: 2rem;
                justify-content: center;
            }

            .pequena,
            .media,
            .grande {
                background-color: $cor-menu-itens;
                padding: .6rem .8rem;
                border-radius: 5px;
                font-family: $fonte-corpo;
                font-size: 1.4rem;
                margin-bottom: 1.4rem;
            }

            .btn__pedido {
                background-color: #E74B2B;
                padding: .6rem .8rem;
                border-radius: 5px;
                font-family: $fonte-corpo;
                font-size: 1.4rem;
                width: 220px;
                text-align: center;
                border: 2px solid #fff;
                color: #fff;
                margin: 0 auto;
            }

            // .link__cardapio {
            //     display: flex;
            //     align-items: center;
            //     gap: 0.5rem;
            //     margin: 1rem;
            //     font-family: $fonte-corpo;
            //     background-color: $cor-section1;
            //     max-width: 220px;
            //     text-align: center;
            //     border-radius: 10px;
            //     border: 1px solid $cor-menu-itens;
            //     color: #fff;
            //     padding: 0.8rem;

            //         &:hover {
            //             background-color: $cor-menu-itens;
            //             border: 1px solid #fff;
            //             transition: all .6s;
            //         }
            

            .contato__cardapio {   
                font-size: 1.5rem; 
                color: #000;    
            }

            .link__ico {
                font-size: 1.5rem;
                color: #000;
            }
    }

    .js-tabConteudo {
        display: none;
    }

    .js-tabConteudo.ativo {
        display: block;
        animation: show 1s forwards;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translate3d(-30px, 0, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }



