.cardapio__cabecalho {
    background-image: url("../img/cardapio/background-cardapio-titulo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

        .titulo__principal {
            font-family: $fonte-titulo;
            color: #fff;
            font-size: 9rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

                @include celular {
                    font-size: 3.5rem;
                }

                @include tablet {
                    font-size: 6rem;
                }
        }

}

    .cardapio__container {

        background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)),

        url("../img/cardapio/background-cardapio.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-bottom: 3rem;

            .cardapio__sub {
                font-family: $fonte-subtitulo;
                color: $cor-menu-itens;
                text-align: center;
                padding: 4rem 0;
                font-size: 3rem;

                    @include celular {
                        font-size: 1.5rem;
                    }
            }

            .cardapio__botoes {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;
                margin-bottom: 5rem;

                    @include celular {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        width: 100vw;
                        padding: .4rem;
                        gap: .5rem;

                    }
            }

            .cardapio__btn {
                display: flex;
                align-items: center;
                gap: .2rem;
                background-color: $cor-menu-itens;
                padding: .3rem;
                cursor: pointer;
                border-radius: 10px;
                box-shadow: 1px 1px 0px 2px #fff;
                
                    &:hover {
                        box-shadow: 0px 0px 10px 0px $cor-menu-itens;
                        transition: all .6s;
                        background-color: #fff;
                    }

                    @include celular {
                        gap: .3rem;
                        padding: .2rem .5rem;
                    }
                
            }

      

            

            .btn__pizza,
            .btn__carnes,
            .btn__massas,
            .btn__bebidas {
                font-family: $fonte-corpo;
                font-size: 1.4rem;

                    @include celular {
                        font-size: 1rem;
                    }
            }

            .cardapio__img {
                width: 60px;

                    @include celular {
                        width: 35px; 
                    }
            }

            .burguer {
                font-size: 1rem;
            }

            .burguer__img {
                width: 40px;

                    @include celular {
                        width: 24px;
                    }
            }
    }
    
    .cardapio__card {
        display: flex;
        box-shadow: 1px 1px 15px 2px $cor-menu-itens;
        padding-bottom: 1.5rem;

            .card__titulo {
                font-family: $fonte-subtitulo;
                text-align: center;
                font-size: 4rem;
                color: $cor-menu-itens;
                padding: 1rem;

                    @include celular {
                        font-size: 3rem;
                    }
            }

            .cardapio__flex {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                padding: .6rem;
                perspective: 1000px;
               
            }

            .card__item {
                padding: 1rem;
                border-radius: 6px;
                max-width: 320px;
                transform: rotateX(3deg);
                // background: rgba(255, 255, 255, .1);
                // border-radius: 16px;
                // box-shadow: 0 4px 10px $cor-menu-itens;
                // // backdrop-filter: blur(10px);       
                // border: 1px solid $cor-menu-itens;
                background: rgba(0, 0, 0, 0.34);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(6.6px);
                -webkit-backdrop-filter: blur(6.6px);
                border: 1px solid #fff;

                    &:hover {
                        box-shadow: 0 4px 10px #fff;
                        transition: all .6s;
                        transform: rotateX(0deg);
                        border: 1px solid #fff;
                    }

                    &:hover .pequena {
                        background-color: #fff;
                        box-shadow: 1px 1px 10px $cor-menu-itens;
                    }

                    &:hover .media {
                        background-color: #fff;
                        box-shadow: 1px 1px 10px $cor-menu-itens;
                    }

                    &:hover .grande {
                        background-color: #fff;
                        box-shadow: 1px 1px 10px $cor-menu-itens;
                    }

                    @include celular {
                        transform: none;
                    }

                    @include tablet {
                        transform: none;
                    }
            }

            .card__cabecalho {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                margin-bottom: 1rem;
            }

            .img__item {
                width: 100px;
            }

            .sabor {
                font-family: $fonte-titulo;
                font-size: 3rem;
                font-weight: bold;
                color: #fff;

                    @include celular {
                        font-size: 2.7rem;
                    }
            }

            .ingredientes {
                font-family: $fonte-corpo;
                font-size: 1.4rem;
                color: #fff;
                margin-bottom: 1rem;
                text-align: center;

                @include celular {
                    font-size: 1.2rem;
                }
            }

            .preco__item {
                margin-top: 1.4rem;
            }

            .precos {
                display: flex;
                gap: .5rem;
                justify-content: center;

                    @include celular {
                        gap: .5rem; 
                    }
            }

            .pequena,
            .media,
            .grande {
                background-color: $cor-menu-itens;
                padding: .2rem;
                border-radius: 5px;
                font-family: $fonte-corpo;
                font-size: 1.2rem;
                text-align: center;
                background-color: #FF8F33;
                box-shadow: 1px 1px 10px #fff;

                    strong {
                        font-size: 1.2rem;
                    }

                    @include celular {
                        font-size: 1rem;
                    }

            }

            .bordas {
                font-family: $fonte-corpo;
                color: #fff;
                text-align: center;
                padding: .4rem;
                margin-bottom: 1.2rem;
               
            }

            .btn__pedido {
                padding: .6rem .8rem;
                border-radius: 5px;
                font-family: $fonte-corpo;
                font-size: 1.2rem;
                width: 180px;
                text-align: center;
                border-bottom-left-radius: 20px;
                color: #fff;
                margin: 0 auto;

                background: rgba(255, 102, 0, 0.6);
                border-radius: 1rem;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid #fff;


                    &:hover {
                        background-color: #fff;
                        color: #000;
                        transition: all .4s;
                        border: 1px solid #fff;
                    }     
            }
            

            .contato__cardapio {   
                font-size: 1.5rem; 
                color: #000;    
            }

            .link__ico {
                font-size: 1.5rem;
                color: #000;
            }
    }

    .js-tabConteudo {
        display: none;
    }

    .js-tabConteudo.ativo {
        display: block;
        animation: show 1s forwards;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translate3d(-30px, 0, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
        height: 340px;
      }

    //   .swiper-slide img {
    //     display: block;
    //     width: 100%;
    //   }

      .swiper-button-next,
      .swiper-button-prev  {
        color: $cor-menu-itens;
      }

      .swiper-button-next:after {
        font-size: 30px;
      }

      .swiper-button-prev:after {
        font-size: 30px;
      }



