.footer {
    background-image: url("../img/sobre/background-sobre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        .footer__info {
            display: flex;
            flex-wrap: wrap;
            gap: 2.5rem;
            justify-content: center;
            padding-bottom: 4rem;
        }

        .endereco {
            font-family: $fonte-corpo;
            font-size: 2rem;
            color: $cor-menu-itens;
        }

        .rua,
        .cidade  {
            font-family: $fonte-corpo;
            font-size: 1.4rem;
            color: #fff;
        }

        .redes__titulo {
            font-family: $fonte-corpo;
            font-size: 1.5rem;
            color: $cor-menu-itens;
            margin-top: 2rem;
        }

        .footer__redes {
            display: flex;
            justify-content: center;
        }

        .titulo__pagamento {
            font-family: $fonte-corpo;
            font-size: 2rem;
            color: $cor-menu-itens;
        }

        .bandeiras__pag {
            width: 300px;
        }

        .titulo__funcionamento {
            font-family: $fonte-corpo;
            font-size: 2rem;
            color: $cor-menu-itens;
        }

        .dias {
            font-family: $fonte-corpo;
            font-size: 1.4rem;
            color: #fff;
        }

        .desenvolvedor {
            background-color: #000;
            padding: .5rem 0;
        }

        .desenvolvedor img {
            margin: 0 auto;
            width: 35px;
        }

        .desenvolvedor p {
            text-align: center;
            font-family: $fonte-corpo;
            color: #fff;
        }

        .desenvolvido__link {
            text-align: center;
            font-family: $fonte-corpo;
            color: #fff;
            width: 120px;
            padding: 0.4rem;
            margin: 0 auto;
            border-radius: 5px;
            border: 1px solid #fff;
                
                &:hover {
                    background-color: $cor-menu-itens;
                    transition: all .6s;
                    
                }
        }
}