.galeria {
    background-image: url("../img/galeria/background-galeria.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 130vh;
    

    .galeria__titulo {
        margin-bottom: 4rem;
        font-family: $fonte-subtitulo;
        color: $cor-menu-itens;
        text-align: center;
        padding-top: 4rem;
        font-size: 3rem;

            @include celular {
                font-size: 2rem;
            }
    }

    .galeria__container {
        padding: 2rem;
    }

    .swiper {
        width: 100%;
        
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 540px;
        height: 540px;
        padding-bottom: 2rem;

            @include celular {
                width: 300px;
                height: 300px;   
            }

            @include tablet {
                width: 400px;
                height: 400px;   
            }
      }

      .swiper-slide img {
          box-shadow: 2px 2px 14px 2px $cor-menu-itens;
          border: solid 1px #fff;
      }

}