.happyhour {
    background-image: url("../img/happyhour/background-musica.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        @include celular {
            height: 120vh;
        }

}

.musica__container {
    display: grid;
    grid-template-columns: 300px 600px; 
    place-content: center;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 105vh;

        @include celular {
            grid-template-columns: 320px; 
            align-items: center;
            place-content: center;
            gap: 0rem;
        }
}

.musica__titulo {
    color: $cor-menu-itens;
    font-family: $fonte-titulo;
    font-size: 4rem;

        @include celular {
            margin-top: 15rem;
            margin-bottom: 2rem;
        }
}

.musica__p {
    color: #fff;
    font-family: $fonte-corpo;
    padding: .4rem;

}

// .musica__sliders {
//     padding-bottom: 4rem;
// }

.musica__poster {
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px $cor-menu-itens;
    border: 1px solid #fff;
    margin: 0 auto;

        @include celular {
            width: 300px;
            height: 360px;
        }
}

.musica__sliders {
    // background-color: darkcyan;
    height: 100vh;
    display: grid;
    align-content: center;
}


/* SWIPER JS */
.swiper  {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
    display: grid;
    place-content: center;
  }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//   }