.header {
    background-image: url(../img/background-header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;


        .logo {
            width: 25rem;
            margin: 0 auto;
            padding-top: 4rem;

                @include celular {
                    width: 15rem;
                }
        }

        .nav {
            // display: block;

                @include celular {
                    position: fixed;
                    top: 215px;
                    left: 0;
                    display: block;
                    z-index: 1000;
                }
        }

        .menu__mobile {
            position: fixed;
            top: 10px;
            left: 0;
            display: block;
            width: 60px;
            cursor: pointer;
            z-index: 10000;

                @include celular {
                    position: fixed;
                    top: 10px;
                    left: 0;
                    display: block;
                    z-index: 2000;
                    cursor: pointer;
                }
        }

        .nav__itens {
            position: fixed;
            top: 80px;
            left: 4px;
            display: none;
            z-index: 10000;

                @include celular {
                    position: fixed;
                    top: 80px;
                    left: 4px;
                    display: none;
                    z-index: 100;
                }
        }

        .nav__itens.ativo {
            display: block;
            animation: showTop .6s forwards;
        }

        .nav__link {
            display: flex;
            flex-wrap: wrap;
            gap: .3rem;
            background-color: $cor-menu-itens;
            padding: .5rem;
            border: 2px solid #fff;
            border-radius: 10px;
            align-items: center;
            box-shadow: 4px 1px 5px #fff;
            margin-bottom: 4px;

                &:hover {
                    box-shadow: 0px 0px 1px 1px #fff;
                    background-color: #ebac5a;
                    transition: all .6s;
                }

                @include celular {
                    padding: .4rem .3rem;
                }
            
        }

        .nav__icone {
            font-size: 1rem;
            color: #000;

                @include celular {
                    font-size: 1rem;  
                }
        }

        .nav__item {
            font-family: $fonte-subtitulo;
            font-size: 1rem;
            color: #000;

                @include celular {
                    font-size: .8rem;
                }
        }

        @keyframes showTop {
            from {
                opacity: 0;
                margin-bottom: 10px;
            }
            to {
                opacity: 1;
                margin-bottom: 0px;

            }
        }
}