.header {
    background-image: url(../img/background-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;


        .logo {
            width: 25rem;
            margin: 0 auto;

                @include celular {
                    width: 15rem;
                }
        }
        
        .nav__itens {
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
            justify-content: center;

                @include celular {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1rem;
                    padding: .4rem;
                }
        }

        .nav__link {
            display: flex;
            flex-wrap: wrap;
            gap: .3rem;
            background-color: $cor-menu-itens;
            padding: 1rem;
            border: 2px solid #fff;
            border-radius: 10px;
            align-items: center;
            box-shadow: 1px 2px 8px 4px #fff;

                &:hover {
                    box-shadow: 0px 0px 1px 1px #fff;
                    background-color: #ebac5a;
                    transition: all .6s;
                }

                @include celular {
                    padding: .4rem .3rem;
                }
            
        }

        .nav__icone {
            font-size: 1.4rem;
            color: #000;

                @include celular {
                    font-size: 1rem;  
                }
        }

        .nav__item {
            font-family: $fonte-subtitulo;
            font-size: 1.4rem;
            color: #000;

                @include celular {
                    font-size: .8rem;
                }
        }
}