.promocao {

    background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),

    url("../img/promocao/background-promo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    



    .promo__box__cabecalho {
        text-align: center;
        padding: 4rem 0;
    }

    .promo__box__titulo {
        font-family: $fonte-titulo;
        font-size: 5rem;
        color: #fff;
    }

    .promo__box__subtitulo {
        font-family: $fonte-subtitulo;
        font-size: 1.8rem;
        color: #fff;
    }

    .promo__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding-bottom: 8rem;
    }

    .promo__btn__bloco {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .4rem;
        background-color: $cor-menu-itens;
        padding: .4rem;
        cursor: pointer;
        border-bottom-left-radius: 20px;
        box-shadow: -20px 10px 10px #fff;
        transform: rotate(-10deg) skewX(25deg) translate(0,0);
        text-align: center;
        padding: .5rem;
        font-family: $fonte-corpo;
        font-size: 1.5rem;

        &:hover {
            transform: rotate(-5deg) skewX(20deg) translate(0,0);
            box-shadow: -20px 10px 10px $cor-menu-itens;
            transition: all .6s;
        }

    }

    .promo__ico__img {
        width: 40px;
    }

    .promo__btn__menu {
        font-family: $fonte-subtitulo;
    }

   

    .promo__box__conteudo--pizza {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        padding: .5rem;
    }

    .card__promo {
        width: 800px;
        padding: .5rem;
        padding-bottom: 2rem;
        position: relative;

    }

    .img__promo__item {
        width: 400px;
        height: auto;
    }

    .card__info__titulo {
        color: $cor-menu-itens;
        font-family: $fonte-titulo;
        text-align: center;
        font-size: 3rem;
    }

    .card__info__ingredientes {
        color: #fff;
        text-align: end;
        font-size: 2rem;
    }

 







}