/********** VARIAVEIS **********/
$cor-header: #291528;
$cor-menu-itens: #ff6600;
$cor-section1: #E1E6E1;
$cor-section2: #E1E6E1;
$fonte-titulo: 'Tangerine', cursive;
$fonte-subtitulo: 'Merienda', cursive;
$fonte-corpo: 'Neucha', cursive;

/********** CONFIGURTAÇÂO **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}


/********** MIXINS **********/
// @mixin celular {
//     @media(min-width: 0px) and (max-width: 480px) {
//         content {

//         }
//     }
// }


/********** MONTAGEM DO SITE **********/
@import "header";
@import "cardapio";
@import "galeria";
@import "sobre";
@import "footer";
