/********** VARIAVEIS **********/
// $cor-header: #fd3b5b;
$cor-menu-itens: #ff6600;
$cor-btn: #EFB321;
$cor-section1: #E1E6E1;
$cor-section2: #E1E6E1;
$fonte-titulo: 'Tangerine', cursive;
$fonte-subtitulo: 'Merienda', cursive;
$fonte-corpo: 'Neucha', cursive;

/********** CONFIGURTAÇÂO **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}


/********** MIXINS **********/
@mixin celular {
    @media(min-width: 0px) and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 480px) and (max-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: 768px) and (max-width: 1280px) {
        @content;
    }
}


/********** MONTAGEM DO SITE **********/
@import "header";
@import "promocao";
@import "happyhour";
@import "./cardapio/pizza";
@import "./cardapio/hamburguer";
@import "./cardapio/massas";
@import "./cardapio/bebidas";
@import "galeria";
@import "sobre";
@import "footer";
